body{
    background-image: url('../images/bgimage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This property fixes the background in place */
    margin: 0;
}

.container1{
    background-color: aliceblue;
    transition: background-color 0.3s;
}

.container1:hover{
    background-color: transparent;
    color: white;
}

.image {
    margin-left: 45%;

}

.field {
    margin-left: 37%;
    margin-top: 1%;

}

.text1{
    transition:  background-color 0.3s;
}
.text1:hover{
    background-color: aqua;
    /* color: white; */
}
/* .input {
    background-color: aqua;
    
  } */


  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

.country{
    width: 150px;
    margin: 20px 70px ;
}

.label{
    font-weight: 600;
    display:block;
}

.container{
    margin: 2px 10px;
    display: block;
}

.text{
    border: 1px solid black;
    width: 300px;
    margin-top: 3px;
    height: 35px;
    display:block;

}